<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="/stylesheets/memo.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    
    <title>Bookmarks</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body style="margin:5pt;">
    <h3><i>List of bookmarks</i></h3>

    <div class="container">
      <div class="span11">
	<table class="table table-striped table-hover table-bordered table-condensed">
	  <% @data.each { |e| %>
          <tr>
	    <td class="span2"><%= e['name'] %></td>
	    <td><%= e['longname'] %></td>
	  </tr>
	  <% } %>
	</table>
      </div>
    </div>
	  
    <hr>
    <%= 'form' %>
    
  </body>
</html>
