<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/memo.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body style="margin:5pt;">
    <h3>ログイン</h3>
    <p>
      名前を英数字で登録して下さい
    </p>
    <form name="postform" method="post" enctype="application/x-www-form-urlencoded" action="/logined" class="form-horizontal">
      <div class="control-group">
	<label class="control-label" for="short">Name:</label>
	<div class="controls">
	  <input type="text" name="id" placeholder = "e.g. masui" class="input-normal" value='<%= "" %>'>
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn btn-primary">Register</button>
	</div>
      </div>
      <!-- <input name="register" type="hidden" value="1"> -->
    </form>
  </body>
</html>
